.home-section-third{
    background-image: url('../assessts/banner-3-home.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}